.series {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  .serie {
    display: flex;
    width: 20em;
    margin: 2em 1em;

    background-color: @COLOR_CONTENT_BLOCK;

    .serie-content {
      display: block;
      height: 100%;
      width: 100%;

      .serie-img {
        display: inline-block;
        height: 10em;
        width: 8em;
        line-height: 10em;

        text-align: center;

        img {
          max-width: 7em;
          max-height: 9em;

          vertical-align: middle;
        }
      }

      .serie-meta {
        display: inline-block;
        height: 10em;
        width: 12em;
        padding: 1em;

        text-align: left;
        vertical-align: top;

        .serie-title {
          height: 7em;

          text-align: left;
          vertical-align: top;
        }

        .serie-year {
          height: 1em;

          text-align: left;
          vertical-align: top;
        }
      }

      .serie-seasons {
        display: flex;
        width: 20em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        .serie-season {
          margin: 1em;
          padding: 0.5em;
        }
      }
    }
  }
}
